
@{
    ViewBag.Title = "submit";
}

<h2>Submit</h2>

<p>@ViewBag.Name </p>
<p> @ViewBag.Email </p>
<p>@ViewBag.Password </p>
<p>@ViewBag.Descipline </p>
<p>@ViewBag.Age </p>
<p>@ViewBag.Gender </p>

